@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --principal-color: #f3f5fc;
  --second-color: #ffffff;
  --third-color: #0a3871;
  --fourth-color: #495057;
  --fuente-inter: "Inter", sans-serif;
}

* {
  padding: 0%;
  margin: 0%;
  background-color: var(--principal-color);
}

body {
  box-sizing: border-box;
}

.header__logo {
  padding: 1rem 0rem 0rem 2.5rem;
  width: 10%;
}

.encriptador {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  margin-left: 15%;
}
.text__area {
  font-family: var(--fuente-inter);
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  border: none;
  color: var(--third-color);
  margin-top: 5%;
  text-transform: lowercase;
  resize: none;
}

.text__area:focus {
  outline: none;
}
::placeholder {
  color: var(--third-color);
}

.advice {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--fourth-color);
}

.advice__icon {
  width: 1rem;
}

.button {
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;
}

.button__encriptar {
  width: 20.5rem;
  height: 4.188rem;
  text-align: center;
  background-color: var(--third-color);
  font-family: var(--fuente-inter);
  font-size: 1.333rem;
  font-weight: 400;
  color: var(--second-color);
  text-decoration: none;
  border: 1px solid var(--third-color);
  border-radius: 1.5rem;
  cursor: pointer;
  gap: 1rem;
}

.button__desencriptar {
  width: 20.5rem;
  height: 4.188rem;
  text-align: center;
  background-color: var(#d8dfe8);
  font-family: var(--fuente-inter);
  font-size: 1.333rem;
  font-weight: 400;
  color: var(--third-color);
  text-decoration: none;
  border: 1px solid var(--third-color);
  border-radius: 1.5rem;
  cursor: pointer;
  gap: 1rem;
}

.text__area__processed {
  font-size: 2rem;
  font-weight: 400;
  border: none;
  color: var(--third-color);
  background-color: var(--second-color);
  background-image: url("/assets/img/ingreseTexto.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
  margin-top: 1.75rem;
  padding: 1.75rem;
  text-transform: lower;
  resize: none;
  width: 20rem;
  height: 33.5rem;
  position: fixed;
}
.text__area__processed:focus {
  outline: none;
}
.text__area__processed::placeholder {
  text-align: center;
  vertical-align: bottom;
  font-family: var(--fuente-inter);
  font-size: 2rem;
}

.button__copiar {
  width: 20.5rem;
  height: 4.188rem;
  text-align: center;
  background-color: var(--second-color);
  font-family: var(--fuente-inter);
  font-size: 1.333rem;
  font-weight: 400;
  color: var(--third-color);
  text-decoration: none;
  border: 1px solid var(--third-color);
  border-radius: 1.5rem;
  cursor: pointer;
  gap: 1rem;
  position: absolute;
  margin-top: 33.5rem;
  margin-left: 1.5rem;
}

@media (max-width: 1200px) {
  .header__logo {
    width: 20%;
  }

  .body {
    justify-content: center;
  }

  .section__1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .encriptador {
    flex-direction: column;
    margin-left: 5%;
    gap: 0%;
  }

  .button {
    width: 98%;
  }

  .text__area__processed {
    width: 80%;
    height: 60px;
    max-height: 500px;
    position: static;
    background-image: none;
    scrollbar-width: 0;
  }

  .button__copiar {
    margin-top: 2%;
    width: 80%;
  }
}
